* {
    box-sizing: border-box;
}
body {
     padding: 0;
     margin: 0;
 }
.calc {
    width: 400px;
    background-color: black;
    color: white;
}
.screen {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    padding: 20px 5px;
}
.calc-button {
    background-color: #d8cbcb;
    color: black;
    height: 100px;
    width: 24.5%;
    border: none;
    font-size: 40px;
    border-radius: 0;
    cursor: pointer;
}
.calc-button:hover {
    background-color: #e5e2e2;
}
.calc-button:active {
    background-color: #b7bbc2;
}
.calc-button:last-child {
    background-color: rgb(241, 93, 40);
    color: white;
}
.calc-button:last-child:hover {
    background-color: rgb(245, 123, 79);
}
.calc-button:last-child:active {
    background-color: rgb(179, 48, 0);
}
.double {
    width: 49%;
}
.triple {
    width: 73.5%;
}
.calc-row {
    display: flex;
    align-content: stretch;
    justify-content: space-around;
    margin-bottom: 0.5%;
}